<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
        class ActionButton extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    isGoing: true,
                    guestName:'Y Hả',
                    course:'react.js',
                    message: 'Your message here'
                };
            };
            handleInputChange = (event) =>{
                const target = event. target;
                const value = target.type==='checkbox' ? target.checked: target.value;
                const name = target.name;

                this.setState ({
                    [name]:value
                });
            }
            handleSublit = (event) =>{
                alert('Tham gia:'
                + this. state. isGoing +', họ tên:' 
                + this.state.guestName + )
            }
        }
    </script>
</body>
</html>